* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-color: #f5af15;
  --secondary-color: #363636;
  --dark-grey: #101010;
  --transition-speed: 400ms;
}

/*****************BASE STYLES*******************/

#welcome-section,
#projects,
#contact {
  height: 90vh;
  padding-top: 120px;
}


/*****************WELCOME COVER*******************/

#welcome-section {
  background-color: var(--secondary-color);
  background-image: url('../img/cover-page.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*positioning text elements*/
#welcome-section > .welcome-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  transform: rotate(-33deg);
  align-items: center;
  justify-content: center;
}

/*styling header*/
#welcome-section > .welcome-content > #header {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* creating header title wording shadows
#welcome-section > .welcome-content > #header:after {
  content: 'Charlotte Gray';
  color: var(--secondary-color);
  opacity: 0.5;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 15px;
  width: 800px;
}*/

#welcome-section > .welcome-content > #tagline {
  position: relative;
  bottom: -10px;
}

#welcome-section > .welcome-content > #tagline > a {
  text-decoration: none;
  color: #fff;
  position:
}

/*arranging bio text*/
#welcome-section > .welcome-content > #bio-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#welcome-section > .welcome-content > #bio-wrap > h5 {
  padding-bottom: 1rem;
}

/*Styling twitter line*/
#welcome-section > .welcome-content > #bio-wrap > #twitter-follow {
  font-size: 1.6rem;
}

/*positioning bird*/
#welcome-section > .welcome-content > #bio-wrap > #twitter-follow > i {
  margin-right: 10px;
}

#welcome-section > .welcome-content > #bio-wrap > #twitter-follow:hover > i {
  color: #00acee;
  transform: rotate(25deg);
  transform: translateX(660px);
  transition: 600ms ease;
  z-index: 2;
}

#welcome-section > .welcome-content > #bio-wrap > #counter {
  font-size: 2rem;
}

/*****************STYLING NAV BAR*******************/


#nav-bar {
  height: 40px;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}

/*Adding sticky class to menu when scroll position is reached*/
.sticky {
  position: fixed;
  top: 0;
}


#nav-bar > .link-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
}

#nav-bar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

#nav-bar a:hover {
  color: var(--primary-color);
  transition: var(--transition-speed);
}

#nav-bar a:active {
  color: var(--dark-grey);
  transition: var(--transition-speed);
}
